h2 span {
  padding: 0.5em 1em;
}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }

.info-box .name{
    font-size: large;
    color: #89c541;
}

.info-box dt{
    font-weight: bold;
}

.info-box dd{
    font-size: 90%;
    color: #767779;
}

.info-box img{
    width: 128px;
}
#details-modal{
    padding: 30px;
}
.volunteer{
    padding-top: 20px;
    padding-bottom: 20px;
}